.idea/
react-client/.idea/
react-client/node_modules/
react-client/.pnp/
react-client/.pnp.js
react-client/coverage/
react-client/build/
react-client/.DS_Store
react-client/.env.local
react-client/.env.development.local
react-client/.env.test.local
react-client/.env.production.local
react-client/npm-debug.log*
react-client/yarn-debug.log*
react-client/yarn-error.log*
react-client/public/css/
react-client/public/fonts/
react-client/public/svg/

*DiabetesDiary [AspNetCoreReact]/.rsuser
DiabetesDiary [AspNetCoreReact]/*.suo
DiabetesDiary [AspNetCoreReact]/*.user
DiabetesDiary [AspNetCoreReact]/*.userosscache
DiabetesDiary [AspNetCoreReact]/*.sln.docstates
DiabetesDiary [AspNetCoreReact]/*.userprefs
DiabetesDiary [AspNetCoreReact]/mono_crash.*
DiabetesDiary [AspNetCoreReact]/[Dd]ebug/
DiabetesDiary [AspNetCoreReact]/[Dd]ebugPublic/
DiabetesDiary [AspNetCoreReact]/[Rr]elease/
DiabetesDiary [AspNetCoreReact]/[Rr]eleases/
DiabetesDiary [AspNetCoreReact]/x64/
DiabetesDiary [AspNetCoreReact]/x86/
DiabetesDiary [AspNetCoreReact]/[Aa][Rr][Mm]/
DiabetesDiary [AspNetCoreReact]/[Aa][Rr][Mm]64/
DiabetesDiary [AspNetCoreReact]/bld/
DiabetesDiary [AspNetCoreReact]/[Bb]in/
DiabetesDiary [AspNetCoreReact]/[Oo]bj/
DiabetesDiary [AspNetCoreReact]/[Ll]og/
DiabetesDiary [AspNetCoreReact]/.vs/
DiabetesDiary [AspNetCoreReact]/Generated\ Files/
DiabetesDiary [AspNetCoreReact]/[Tt]est[Rr]esult*/
DiabetesDiary [AspNetCoreReact]/[Bb]uild[Ll]og.*
DiabetesDiary [AspNetCoreReact]/*.VisualState.xml
DiabetesDiary [AspNetCoreReact]/TestResult.xml
DiabetesDiary [AspNetCoreReact]/[Dd]ebugPS/
DiabetesDiary [AspNetCoreReact]/[Rr]eleasePS/
DiabetesDiary [AspNetCoreReact]/dlldata.c
DiabetesDiary [AspNetCoreReact]/BenchmarkDotNet.Artifacts/
DiabetesDiary [AspNetCoreReact]/project.lock.json
DiabetesDiary [AspNetCoreReact]/project.fragment.lock.json
DiabetesDiary [AspNetCoreReact]/artifacts/
DiabetesDiary [AspNetCoreReact]/StyleCopReport.xml
DiabetesDiary [AspNetCoreReact]/*_i.c
DiabetesDiary [AspNetCoreReact]/*_p.c
DiabetesDiary [AspNetCoreReact]/*_h.h
DiabetesDiary [AspNetCoreReact]/*.ilk
DiabetesDiary [AspNetCoreReact]/*.meta
DiabetesDiary [AspNetCoreReact]/*.obj
DiabetesDiary [AspNetCoreReact]/*.iobj
DiabetesDiary [AspNetCoreReact]/*.pch
DiabetesDiary [AspNetCoreReact]/*.pdb
DiabetesDiary [AspNetCoreReact]/*.ipdb
DiabetesDiary [AspNetCoreReact]/*.pgc
DiabetesDiary [AspNetCoreReact]/*.pgd
DiabetesDiary [AspNetCoreReact]/*.rsp
DiabetesDiary [AspNetCoreReact]/*.sbr
DiabetesDiary [AspNetCoreReact]/*.tlb
DiabetesDiary [AspNetCoreReact]/*.tli
DiabetesDiary [AspNetCoreReact]/*.tlh
DiabetesDiary [AspNetCoreReact]/*.tmp
DiabetesDiary [AspNetCoreReact]/*.tmp_proj
DiabetesDiary [AspNetCoreReact]/*_wpftmp.csproj
DiabetesDiary [AspNetCoreReact]/*.log
DiabetesDiary [AspNetCoreReact]/*.vspscc
DiabetesDiary [AspNetCoreReact]/*.vssscc
DiabetesDiary [AspNetCoreReact]/.builds
DiabetesDiary [AspNetCoreReact]/*.pidb
DiabetesDiary [AspNetCoreReact]/*.svclog
DiabetesDiary [AspNetCoreReact]/*.scc
DiabetesDiary [AspNetCoreReact]/_Chutzpah*
DiabetesDiary [AspNetCoreReact]/ipch/
DiabetesDiary [AspNetCoreReact]/*.aps
DiabetesDiary [AspNetCoreReact]/*.ncb
DiabetesDiary [AspNetCoreReact]/*.opendb
DiabetesDiary [AspNetCoreReact]/*.opensdf
DiabetesDiary [AspNetCoreReact]/*.sdf
DiabetesDiary [AspNetCoreReact]/*.cachefile
DiabetesDiary [AspNetCoreReact]/*.VC.db
DiabetesDiary [AspNetCoreReact]/*.VC.VC.opendb
DiabetesDiary [AspNetCoreReact]/*.psess
DiabetesDiary [AspNetCoreReact]/*.vsp
DiabetesDiary [AspNetCoreReact]/*.vspx
DiabetesDiary [AspNetCoreReact]/*.sap
DiabetesDiary [AspNetCoreReact]/*.e2e
DiabetesDiary [AspNetCoreReact]/$tf/
DiabetesDiary [AspNetCoreReact]/*.gpState
DiabetesDiary [AspNetCoreReact]/_ReSharper*/
DiabetesDiary [AspNetCoreReact]/*.[Rr]e[Ss]harper
DiabetesDiary [AspNetCoreReact]/*.DotSettings.user
DiabetesDiary [AspNetCoreReact]/.JustCode
DiabetesDiary [AspNetCoreReact]/_TeamCity*
DiabetesDiary [AspNetCoreReact]/*.dotCover
DiabetesDiary [AspNetCoreReact]/.axoCover/*
DiabetesDiary [AspNetCoreReact]/!.axoCover/settings.json
DiabetesDiary [AspNetCoreReact]/*.coverage
DiabetesDiary [AspNetCoreReact]/*.coveragexml
DiabetesDiary [AspNetCoreReact]/_NCrunch_*
DiabetesDiary [AspNetCoreReact]/.*crunch*.local.xml
DiabetesDiary [AspNetCoreReact]/nCrunchTemp_*
DiabetesDiary [AspNetCoreReact]/*.mm.*
DiabetesDiary [AspNetCoreReact]/AutoTest.Net/
DiabetesDiary [AspNetCoreReact]/.sass-cache/
DiabetesDiary [AspNetCoreReact]/[Ee]xpress/
DiabetesDiary [AspNetCoreReact]/DocProject/buildhelp/
DiabetesDiary [AspNetCoreReact]/DocProject/Help/*.HxT
DiabetesDiary [AspNetCoreReact]/DocProject/Help/*.HxC
DiabetesDiary [AspNetCoreReact]/DocProject/Help/*.hhc
DiabetesDiary [AspNetCoreReact]/DocProject/Help/*.hhk
DiabetesDiary [AspNetCoreReact]/DocProject/Help/*.hhp
DiabetesDiary [AspNetCoreReact]/DocProject/Help/Html2
DiabetesDiary [AspNetCoreReact]/DocProject/Help/html
DiabetesDiary [AspNetCoreReact]/publish/
DiabetesDiary [AspNetCoreReact]/*.[Pp]ublish.xml
DiabetesDiary [AspNetCoreReact]/*.azurePubxml
DiabetesDiary [AspNetCoreReact]/*.pubxml
DiabetesDiary [AspNetCoreReact]/*.publishproj
DiabetesDiary [AspNetCoreReact]/PublishScripts/
DiabetesDiary [AspNetCoreReact]/*.nupkg
DiabetesDiary [AspNetCoreReact]/**/[Pp]ackages/*
DiabetesDiary [AspNetCoreReact]/!**/[Pp]ackages/build/
DiabetesDiary [AspNetCoreReact]/*.nuget.props
DiabetesDiary [AspNetCoreReact]/*.nuget.targets
DiabetesDiary [AspNetCoreReact]/csx/
DiabetesDiary [AspNetCoreReact]/*.build.csdef
DiabetesDiary [AspNetCoreReact]/ecf/
DiabetesDiary [AspNetCoreReact]/rcf/
DiabetesDiary [AspNetCoreReact]/AppPackages/
DiabetesDiary [AspNetCoreReact]/BundleArtifacts/
DiabetesDiary [AspNetCoreReact]/Package.StoreAssociation.xml
DiabetesDiary [AspNetCoreReact]/_pkginfo.txt
DiabetesDiary [AspNetCoreReact]/*.appx
DiabetesDiary [AspNetCoreReact]/*.appxbundle
DiabetesDiary [AspNetCoreReact]/*.appxupload
DiabetesDiary [AspNetCoreReact]/*.[Cc]ache
DiabetesDiary [AspNetCoreReact]/!?*.[Cc]ache/
DiabetesDiary [AspNetCoreReact]/ClientBin/
DiabetesDiary [AspNetCoreReact]/~$*
DiabetesDiary [AspNetCoreReact]/*~
DiabetesDiary [AspNetCoreReact]/*.dbmdl
DiabetesDiary [AspNetCoreReact]/*.dbproj.schemaview
DiabetesDiary [AspNetCoreReact]/*.jfm
DiabetesDiary [AspNetCoreReact]/*.pfx
DiabetesDiary [AspNetCoreReact]/*.publishsettings
DiabetesDiary [AspNetCoreReact]/orleans.codegen.cs
DiabetesDiary [AspNetCoreReact]/Generated_Code/
DiabetesDiary [AspNetCoreReact]/_UpgradeReport_Files/
DiabetesDiary [AspNetCoreReact]/Backup*/
DiabetesDiary [AspNetCoreReact]/UpgradeLog*.XML
DiabetesDiary [AspNetCoreReact]/UpgradeLog*.htm
DiabetesDiary [AspNetCoreReact]/ServiceFabricBackup/
DiabetesDiary [AspNetCoreReact]/*.rptproj.bak
DiabetesDiary [AspNetCoreReact]/*.mdf
DiabetesDiary [AspNetCoreReact]/*.ldf
DiabetesDiary [AspNetCoreReact]/*.ndf
DiabetesDiary [AspNetCoreReact]/*.rdl.data
DiabetesDiary [AspNetCoreReact]/*.bim.layout
DiabetesDiary [AspNetCoreReact]/*.bim_*.settings
DiabetesDiary [AspNetCoreReact]/*.rptproj.rsuser
DiabetesDiary [AspNetCoreReact]/*- Backup*.rdl
DiabetesDiary [AspNetCoreReact]/FakesAssemblies/
DiabetesDiary [AspNetCoreReact]/*.GhostDoc.xml
DiabetesDiary [AspNetCoreReact]/.ntvs_analysis.dat
DiabetesDiary [AspNetCoreReact]/node_modules/
DiabetesDiary [AspNetCoreReact]/*.plg
DiabetesDiary [AspNetCoreReact]/*.opt
DiabetesDiary [AspNetCoreReact]/*.vbw
DiabetesDiary [AspNetCoreReact]/**/*.HTMLClient/GeneratedArtifacts
DiabetesDiary [AspNetCoreReact]/**/*.DesktopClient/GeneratedArtifacts
DiabetesDiary [AspNetCoreReact]/**/*.DesktopClient/ModelManifest.xml
DiabetesDiary [AspNetCoreReact]/**/*.Server/GeneratedArtifacts
DiabetesDiary [AspNetCoreReact]/**/*.Server/ModelManifest.xml
DiabetesDiary [AspNetCoreReact]/_Pvt_Extensions
DiabetesDiary [AspNetCoreReact]/.paket/paket.exe
DiabetesDiary [AspNetCoreReact]/paket-files/
DiabetesDiary [AspNetCoreReact]/.fake/
DiabetesDiary [AspNetCoreReact]/.cr/personal
DiabetesDiary [AspNetCoreReact]/__pycache__/
DiabetesDiary [AspNetCoreReact]/*.pyc
DiabetesDiary [AspNetCoreReact]/*.tss
DiabetesDiary [AspNetCoreReact]/*.jmconfig
DiabetesDiary [AspNetCoreReact]/*.btp.cs
DiabetesDiary [AspNetCoreReact]/*.btm.cs
DiabetesDiary [AspNetCoreReact]/*.odx.cs
DiabetesDiary [AspNetCoreReact]/*.xsd.cs
DiabetesDiary [AspNetCoreReact]/OpenCover/
DiabetesDiary [AspNetCoreReact]/ASALocalRun/
DiabetesDiary [AspNetCoreReact]/*.binlog
DiabetesDiary [AspNetCoreReact]/*.nvuser
DiabetesDiary [AspNetCoreReact]/.mfractor/
DiabetesDiary [AspNetCoreReact]/.localhistory/
DiabetesDiary [AspNetCoreReact]/healthchecksdb
DiabetesDiary [AspNetCoreReact]/MigrationBackup/
DiabetesDiary [AspNetCoreReact]/.vscode/*
DiabetesDiary [AspNetCoreReact]/!.vscode/settings.json
DiabetesDiary [AspNetCoreReact]/!.vscode/tasks.json
DiabetesDiary [AspNetCoreReact]/!.vscode/launch.json
DiabetesDiary [AspNetCoreReact]/!.vscode/extensions.json
DiabetesDiary [AspNetCoreReact]/.idea/**/workspace.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/tasks.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/usage.statistics.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/dictionaries
DiabetesDiary [AspNetCoreReact]/.idea/**/shelf
DiabetesDiary [AspNetCoreReact]/.idea/**/contentModel.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/dataSources/
DiabetesDiary [AspNetCoreReact]/.idea/**/dataSources.ids
DiabetesDiary [AspNetCoreReact]/.idea/**/dataSources.local.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/sqlDataSources.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/dynamic.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/uiDesigner.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/dbnavigator.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/gradle.xml
DiabetesDiary [AspNetCoreReact]/.idea/**/libraries
DiabetesDiary [AspNetCoreReact]/cmake-build-*/
DiabetesDiary [AspNetCoreReact]/.idea/**/mongoSettings.xml
DiabetesDiary [AspNetCoreReact]/*.iws
DiabetesDiary [AspNetCoreReact]/out/
DiabetesDiary [AspNetCoreReact]/.idea_modules/
DiabetesDiary [AspNetCoreReact]/atlassian-ide-plugin.xml
DiabetesDiary [AspNetCoreReact]/.idea/replstate.xml
DiabetesDiary [AspNetCoreReact]/com_crashlytics_export_strings.xml
DiabetesDiary [AspNetCoreReact]/crashlytics.properties
DiabetesDiary [AspNetCoreReact]/crashlytics-build.properties
DiabetesDiary [AspNetCoreReact]/fabric.properties
DiabetesDiary [AspNetCoreReact]/.idea/httpRequests
DiabetesDiary [AspNetCoreReact]/.idea/caches/build_file_checksums.ser
